.order-action {
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.order-action-count {
    color: var(--color-primary);
    font-weight: 500;
    opacity: 0;
    text-align: center;
    transform: translate(12px);
    transition: transform .25s, opacity .25s, visibility .25s, color .25s;
    visibility: hidden
}

.order-action--value .order-action-count {
    opacity: 1;
    transform: translate(0);
    visibility: visible
}

.order-action--regular .order-action-count {
    font-size: 26px;
    width: 42px
}

.order-action--small .order-action-count {
    font-size: 20px;
    width: 32px
}

.order-action--tiny .order-action-count {
    font-size: 16px;
    width: 24px
}

.order-action-button {
    align-items: baseline;
    border: none;
    border-radius: 100%;
    box-shadow: var(--shadow-0);
    color: var(--color-primary);
    cursor: pointer;
    display: flex;
    height: 38px;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 38px;
    z-index: 1
}

.order-action-button:before {
    background: var(--color-primary);
    border-radius: 100%;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s;
    width: 100%
}

.order-action--value .order-action-button {
    align-items: center;
    background: var(--color-white);
    box-shadow: none
}

.order-action--regular .order-action-button {
    font-size: 32px
}

.order-action--small .order-action-button {
    font-size: 24px
}

.order-action--tiny .order-action-button {
    font-size: 16px;
    height: 24px;
    width: 24px
}

.order-action-button:hover {
    background: transparent
}

@media (width >=601px) {
    .order-action-button:hover:before {
        opacity: .05
    }
}

.order-action-button:after {
    pointer-events: all
}

@media (width >=601px) {
    .order-action-button:after {
        pointer-events: none
    }
}

.order-action-button._add {
    background: var(--color-primary);
    box-shadow: var(--shadow-2);
    color: var(--color-white);
    transition: background .25s
}

.order-action--value .order-action-button._add {
    background: var(--color-white);
    box-shadow: none;
    color: var(--color-primary)
}

.order-action-button._remove {
    opacity: 0;
    transform: translate(12px);
    transition: transform .25s, opacity .25s, visibility .25s, background .25s;
    visibility: hidden
}

.order-action--value .order-action-button._remove {
    opacity: 1;
    transform: translate(0);
    visibility: visible
}
.pswp img {
    max-width: none;
    -o-object-fit: contain;
    object-fit: contain
}

html[dir=rtl] .pswp__caption__center {
    text-align: right
}

.menu-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative
}

.menu-item-na {
    color: #676767;
    margin-bottom: 8px
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    width: 100%
}

.menu-item-header {
    align-items: baseline;
    display: inline-flex;
    gap: 16px;
    justify-content: flex-start;
    margin-bottom: 6px;
    width: 100%
}

.menu-item-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 100%
}

.menu-item-action {
    align-items: center;
    display: flex;
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 1
}

html[dir=rtl] .menu-item-action {
    left: -10px;
    right: auto
}

.menu-item-action .menu-item-admin-actions {
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow-regular);
    margin-right: 4px;
    position: relative;
    top: -22px
}

.menu-item._with-choice .menu-item-orders {
    background: var(--color-gray-100);
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px -16px 0;
    padding: 16px
}

.menu-item._with-choice .menu-item-orders .order-action--value .order-action-button {
    background: var(--color-gray-100)
}

.menu-item._with-choice:before {
    background: var(--color-primary);
    border-radius: var(--radius-sm);
    content: "";
    height: 100%;
    left: -16px;
    position: absolute;
    top: 0;
    width: 4px
}

.menu-item._without-image {
    border-top: 1px solid var(--color-gray-hover);
    padding-top: 16px
}

.menu-item._full .menu-item-title {
    display: block;
    overflow: visible
}

.menu-item._not-available .menu-item-description,
.menu-item._not-available .menu-item-footer,
.menu-item._not-available .menu-item-image,
.menu-item._not-visible .menu-item-content,
.menu-item._not-visible .menu-item-image {
    opacity: .4
}
.back-button {
    align-items: center;
    background: var(--color-white);
    border: none;
    border-radius: 100%;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative
}

.back-button svg {
    height: 20px;
    width: 20px
}

.back-button:after {
    background: #fff3
}
 .menu-item-image {
            aspect-ratio: 1.61/1;
            display: flex;
            flex-shrink: 0;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            width: 100%
        }

        .menu-item-image .base-lazy__loader,
        .menu-item-image img {
            border-radius: var(--radius-xl)
        }

        .menu-item-image img {
            box-shadow: var(--shadow-0);
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            width: 100%
        }

        .menu-item-image__preview-image-container,
        .menu-item-image__preview-image-link {
            display: contents
        }

        .menu-item-image__lazy-load-wrapper {
            height: 100%;
            width: 100%
        }

        .pswp .pswp__preloader {
            left: 50%;
            position: absolute;
            top: 50dvh;
            transform: translate(-50%, -50%)
        }